<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<h2>Login</h2>
<div class="container">
    <button class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-primary">Primary</button>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

